@media screen and (max-width: 425px) {

    /* Nav part */
    .nav-container {
        flex-direction: column;
    }

    .logo-image {
        font-size: 25px;
        gap: 10px;
        margin-bottom: 60px;
    }

    .logo-image img {
        width: 60px;
    }

    .menus {
        flex-direction: column;
        gap: 35px;
    }

    /* Banner part */
    .banner-container {
        flex-direction: column;

    }

    .banner-details {
        padding: 20px;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-goat {
        font-size: 70px;
    }

    .banner-info {
        font-size: 17px;
    }

    .banner-btn-one {
        padding: 18px 38px;

    }

    .banner-btn-two {
        padding: 20px 40px;
    }

}