@media screen and (max-width: 425px) {
    .nav-container {
        flex-direction: column;
    }

    .logo-image {
        font-size: 25px;
        gap: 10px;
        margin-bottom: 60px;
    }

    .logo-image img {
        width: 60px;
    }

    .menus {
        flex-direction: column;
        gap: 35px;
    }
}